.pagination_wrapper {
  padding: 20px 0;
}

.navButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground-tertiary);
}

.activePage {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 10%;
}