.textColor {
  color: var(--color-white);
}

.bottomPadding {
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
}

.image_wrapper {
  overflow: hidden;
  flex-shrink: 0;

  z-index: 11;
  position: relative;
}

.faq_image {
  display: block;
}

.faqForm {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background: #1458c5;
  overflow: hidden;
  padding: 1.7rem;
  margin-top: -2.5rem;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 550px;
}

.two_column_layout {
  width: 100%;
  gap: 2rem;
  align-items: stretch;
}

.left_column {
  flex: 2;
  min-width: 0;
}

.right_column {
  flex: 1;
  min-width: 0;
  margin-top: -5rem;
}

@media (max-width: 760px) {
  .two_column_layout {
    flex-direction: column-reverse;
  }

  .right_column {
    order: -1;
    margin-top: 0;
  }

  .bottomPadding {
    text-align: center;
  }
}

.item_wrapper {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background: var(--color-background);
  overflow: hidden;
  width: 100%;
}

.item_header {
  width: 100%;
  padding: 1.5rem;
  text-align: left;

  cursor: pointer;
}

.panel_wrapper {
  overflow: hidden;
}

.panel_content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}